body{
  background-color: rgb(0, 0, 0);
}

#kodaka{
    color: white;
    text-align: center;
}

.component{
    width: 40%;
    text-align: center;
    color: antiquewhite;
    background-color: rgba(90, 83, 83, 0.416);
    border: 15px;
    border-radius: 10px;
}

.inputs{
   background-color: transparent;
   border-color: white;
   border-radius: 6px; 
   padding: 5px 10px;
   margin: 10px 10px;
   color: white;
}

.holder{
  /* background-color: rgba(66, 57, 57, 0.37); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.outer-box{
  text-align: center;
}

.outer-box button{
  padding: 10px;
  margin: 10px 10px;
  border-radius: 10px;
}

.outer-box button:hover{
  background-color: aquamarine;
  cursor: pointer;
}

.para{
 
}

/* .para2{
  color: brown;
} */