body {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link, a:visited {
    color: #ea4c89;
}

ul {
    list-style-type: none;
    display: inline-block;
}

header {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-li-element {
    color: rgb(98, 82, 90);
    display: inline-block;
    margin-right: 20px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 20px;
}

header li:hover {
    cursor: pointer;
}

.search-img {
    height: 30px;
    width: 30px;
    /* background-color: aqua; */
}

.search-img:hover {
    cursor: pointer;
}

header button:hover {
    cursor: pointer;
}

.subsec1 {
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    float: left;
}

.subsec2 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    float: right;
    /* background-color: coral; */
    padding: 15px 15px;
}

.dribble-img {
    height: 60px;
    width: 130px
}

.header-div {
    height: 60px;
    /* background-color: blue; */
    /* justify-content: center; */
    align-items: center;
    /* display: flex; */
    flex-direction: row;
}

.butt-signin {
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    font-size: 17px;
}

.butt-signup {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px 8px;
    border-radius: 15%;
    border: none;
    background-color: rgba(245, 40, 145, 0.8);
    font-size: 17px;
}

.para {
    font-size: 20px;
    text-align: center;
    /* margin: 10px; */
}

.content-block {
    text-align: center;
}

.holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.holder-1 {
    width: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.holder-2 {
    height: 100px;
    box-sizing: border-box;
    width: 25%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.holder-3 {
    width: 25%;
}

.char-img {
    height: 50px;
    width: 50px;
}

footer p {
    color: rgb(98, 82, 90);
}

.footer-class {
    height: 600px;
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 10px 1px;
    padding: 10px 10px;
    /* background-color: lightgreen; */
}

.elements-img {
    width: 200px;
}

.div-1 {
    padding: 5px 10px;
    width: 18%;
    /* background-color: red; */
}

.div-2 {
    padding: 5px 10px;
    width: 13%;
    /* background-color: blue; */
}

.div-3 {
    padding: 5px 10px;
    width: 13%;
    /* background-color: white; */
}

.div-4 {
    padding: 5px 10px;
    width: 13%;
    /* background-color: lightgray; */
}

.div-5 {
    padding: 5px 10px;
    width: 13%;
    /* background-color: green; */
}

.div-6 {
    padding: 5px 10px;
    width: 13%;
    /* background-color: yellow; */
}